.book {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.book-image {
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  border-radius: 10px;
  background-color: #f0edf5;
  overflow: hidden;
}

.book-image img {
  width: 100%;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.book-image:hover img {
  transform: scale(1.05);
}

.book-title {
  color: #4a83f6;
  font-weight: bold;
  padding-top: 10px;
  font-size: 14px;
}
